.log-out-btn {
    max-height: 34px;
    max-width: fit-content;
    font-size: 12px;
}

.login-btn{
    max-width: fit-content;
    font-size: 16px;
    align-items: center;
    padding: 5px 10px !important;
}
